.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.App .header {
    min-height: 14vh;
    color: white;
    font-size: calc(40px + 2vmin);
    font-weight: bold;
}

.App .link {
    color: #61dafb;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}